{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<h1 class="text-center pt-3">Recepcion de pedidos</h1>
<div class="row p-4">
    <div class="col-md-6 border border-secondary rounded p-5">
        <h3 class="text-center pb-3">Seleccione Pedido para ver el detalle y productos</h3>

        {% for orden in ordenPedido %}
            {% if orden.estado_recepcion == 0 %}
                <a href="{{orden.id}}" style="text-decoration:none;" class="btn btn-outline-primary pb-2 mb-2">Pedido: {{orden.id}} <br> Proveedor: {{orden.proveedor}}</a>
            {% endif %}
        {% endfor %}
        <br>
        <div class="container border border-dark rounded p-3 mt-3">
            <h4>Pedido:</h4>
            {% for orden in ordenPedido2 %}
                
                <strong>Numero: </strong>{{orden.id}}<br>
                <strong>Proveedor: </strong>{{orden.proveedor}}<br>
                <strong>Fecha de craecion: </strong>{{orden.fecha_pedido}}
                <br>
                
            {% endfor %}
            <br>
            <h4>Productos:</h4>
            {% for detalle in detalleOrden2 %}
                
                <label for="" class="detallePedidoP" id="detallePedidoP">{{detalle.producto}}</label><br>                 
            {% endfor %}
        </div>

        <div class="form-group border rounded p-2 border-dark mt-3"> 
            
            <h4 class="m-3">Productos seleccionados</h4>
            
            <div id="plazos" class="row" style="padding-left: 20px;padding-right: 60px;">
            </div>

            <br>  
        </div>
        
    </div>
    <div class="col-md-6 border border-secondary rounded p-5">
        
        <h3 class="text-center pb-3">Seleccione producto a recepcionar</h3>

        <form>
            Buscar producto <input id="searchTerm" type="text" onkeyup="doSearch()" />
        </form>
    
        <p>
            <table id="datos">
                <tr>
                    <th>Nombre</th><th class="text-center">accion</th>
                </tr>
                {% for value in productos %}

                    <tr class="border border-secondary rounded-3 p-2">

                        <td id="{{value}}">{{value}}</td>
                        <td><input class="btn btn-secondary btn-sm" type="button" title="Agregar Producto" Value="Agregar" onclick="agregar2('{{value}}')"></td>
                        
                    </tr>
                {% endfor %}
                
                <tr class='noSearch hide'>
                    <td colspan="5"></td>
                </tr>
            </table>
        </p>
    </div>
</div>

<form method="post" action="" name="formulario" id="formulario">
    {% csrf_token %}
</form>

<div class="text-center pb-4 d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" onclick="ValidarPedido()">Recepcionar Pedido</button>
</div>

<script language="JavaScript">
    var incremento = 0;
    
    function agregar2(idProd)
    {
        
        let coincidencia = document.getElementById(idProd).textContent;
        incremento++;
        bloque = document.getElementById('plazos');
        
        elemento = document.createElement('input');
        elemento.setAttribute("class", "form-control col-sm-3 mb-2 productoSeleccionado" );
        elemento.setAttribute("style", "width:300px" );
        elemento.setAttribute("name", `${coincidencia}` );
        elemento.id = 'input1.'+incremento;
        elemento.setAttribute("readonly", "" );
        bloque.appendChild(elemento);
        
        eliminar = document.createElement('input');
        eliminar.setAttribute("class", "btn btn-secondary btn-sm mb-2");
        eliminar.setAttribute("onclick", `borrar(${incremento})`);
        eliminar.setAttribute("value", "-");
        eliminar.setAttribute("style", "width:30px");
        eliminar.id = ''+incremento;
        bloque.appendChild(eliminar);

        document.getElementById(elemento.id).value = coincidencia;

        br = document.createElement('br');
        br.id = 'br'+incremento;
        bloque.appendChild(br);
    }

    function borrar(obj) {
        
        document.getElementById(`input1.${obj}`).remove();
        document.getElementById(`${obj}`).remove();
        document.getElementById(`br${obj}`).remove();
    }

    function ValidarPedido(){

        bloque = document.getElementById('plazos').innerHTML;
        localStorage.setItem("producto", JSON.stringify(bloque));
        local = localStorage.getItem("producto");
        local = local.length;
        if (local <= 36){
            Swal.fire({
                icon: 'error',
                title: 'No hay productos seleccionados',
                showConfirmButton: true,
            })
        }else{
            productos = document.querySelectorAll('.detallePedidoP');
            productosSeleccionados = document.querySelectorAll('.productoSeleccionado');
            contador = 0
            contador2 = 0
            productos.forEach( function(valor) {
                valor1 = valor.innerHTML;
                contador2 = contador2 + 1
                productosSeleccionados.forEach( function(valor) {
                    valor2 = valor.value;
                    if(valor1 == valor2){
                        contador = contador + 1
                    }
                });
                
            });
            if(contador == contador2 ){
                Swal.fire({
                    icon: 'success',
                    title: 'El pedido fue recepcionado correctamente',
                    showConfirmButton: false,
                    timer: 3000
                })
                setTimeout(function(){
                    bloque = document.getElementById('formulario');
                    elemento = document.createElement('input');
                    elemento.setAttribute("class", "form-control col-sm-3 mb-2 bg-dark" );
                    elemento.setAttribute("style", "width:5px" );
                    elemento.setAttribute("name", `validado` );
                    elemento.id = 'validado';
                    elemento.setAttribute("readonly", "" );
                    bloque.appendChild(elemento);
                    document.getElementById(elemento.id).value = "validado";

                    document.formulario.submit();

                }, 3000);
            }   
            else{
                
                
                Swal.fire({
                    icon: 'error',
                    title: 'Hay productos que no se pueden recepcionar ya que no coinciden con los productos del pedido seleccionado',
                    showConfirmButton: true,
                
                })
                
            }
        }
    }

</script>

<script> 
    function doSearch()
    {
        const tableReg = document.getElementById('datos');
        const searchText = document.getElementById('searchTerm').value.toLowerCase();
        let total = 0;

        for (let i = 1; i < tableReg.rows.length; i++) {

            if (tableReg.rows[i].classList.contains("noSearch")) {
                continue;
            }

            let found = false;
            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');

            for (let j = 0; j < cellsOfRow.length && !found; j++) {

                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();

                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                    found = true;
                    total++;
                }
            }

            if (found) {
                tableReg.rows[i].style.display = '';
            } 
            else {
                tableReg.rows[i].style.display = 'none';
            }
        }

        const lastTR=tableReg.rows[tableReg.rows.length-1];
        const td=lastTR.querySelector("td");
        lastTR.classList.remove("hide", "red");

        if (searchText == "") {
            lastTR.classList.add("hide");
        } 
        else if (total) {
            td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
        } 
        else {
            lastTR.classList.add("red");
            td.innerHTML="No se han encontrado coincidencias";
        }
    }
</script>

{% endblock %}