{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/venta.css' %}">
<div class="row p-4">
    <div class="container">
        {% if messages %}
            <ul class="messages list-group mb-3">
            {% for message in messages %}
                <li {% if message.tags %} 
                        class="{{ message.tags }} list-group-item list-group-item-primary"
                    {% endif %}>
                        {{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="col-md-6">
        <div class="container contenedorCrearUsuario"> 
            <form method="post" name="formulario" id="formulario">
                {% csrf_token %}
                <div>
                    <a>
                        <div for="buscar">Seleccionar cliente para fiado:</div>
                        {{ form.cliente|add_class:"form-control" }}

                        <div class="form-group pb-3">
                            <label for="fecha_vencimiento" class="txt_negrita">Seleccione Fecha para el plazo de pago:</label>
                            <input class="form-control dateinput" type="text" name="fecha_pago" readonly placeholder="Click aqui" style="width:110px"/>
                        </div>
                    </a>

                    <div class="form-group border rounded p-2"> 
                        <label for="state_id" class="control-label">Carrito</label>
                        
                        <div class="container">
                            <label for="state_id" class="control-label" style="padding-right: 100px;">Codigo barra</label>
                            <label for="state_id" class="control-label" style="padding-right: 50px;">Cantidad</label>
                            <label for="state_id" class="control-label">Precio</label>
                        </div>
                        
                        <div id="plazos" class="row" style="padding-left: 30px;padding-right: 60px;"><br>
                        </div>

                        <br>  
                        <label for="state_id" class="control-label">Total:</label>
                        <label for="state_id" name="total_precios" class="control-label" id="total_precios"></label>
                        
                    </div>
                </div>
            </form>

            <div class="text-center pt-3">
                <button id="boton_aceptar" class="btn btn-primary" onclick="ValidarFiado()">Crear Venta</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h1>Buscar producto en la lista</h1>

        <form>
            Producto a buscar <input id="searchTerm" type="text" onkeyup="doSearch()" />
        </form>
    
        <p>
            <table id="datos">
                <tr>
                    <th>Nombre</th><th>Codigo barra</th><th>Precio</th><th>Cantidad</th><th>Stock</th><th class="text-center">accion</th>
                </tr>
                {% for prod in productos %}
                    <tr>
                        <td>{{prod.nombre}}</td>
                        <td id="{{prod.id}}">{{prod.codigo_barra}}</td>
                        <td id="{{prod.id}}.{{prod.precio}}">{{prod.precio}}</td>
                        <td><input id="{{prod.id}}.cantidad" type="number" name="numero" value="1" min="1" max="50" step="1" /></td>
                        <td id="{{prod.id}}.{{prod.stock}}">{{prod.stock}}</td>
                        {% if prod.stock > 0 %}
                            <td><input class="btn btn-info btn-sm agregar" type="button" title="Agregar Producto" id="agregar{{prod.id}}" Value="Agregar" onclick="agregar2('{{prod.id}}','{{prod.id}}.{{prod.precio}}', '{{prod.id}}.cantidad','{{prod.id}}.{{prod.stock}}', this)"></td>
                        {% else %}
                            <td>Producto sin Stock</td>
                        {% endif %}  
                    </tr>
                {% endfor %}
                
                <tr class='noSearch hide'>
                    <td colspan="5"></td>
                </tr>
            </table>
        </p>
    </div>
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Autorizacion de administrador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Para crear venta con cliente seleccionado, lo debe autorizar la Señora Juanita</p>
                <label for="state_id" class="control-label">Usuario:</label>
                <input type="text" class="form-control" id="usuario">
                <label for="state_id" class="control-label">Constraseña:</label>
                <input type="password" class="form-control" id="contrasena">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal" onclick="Habilitar()">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="CrearVenta()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Habilitar(){
        location.reload();
    }

    function ValidarFiado(){
        
        bloque = document.getElementById('plazos').innerHTML;
        localStorage.setItem("producto", JSON.stringify(bloque));
        local = localStorage.getItem("producto");
        local = local.length;
        if (local <= 36){
            Swal.fire({
                icon: 'error',
                title: 'No hay productos seleccionados',
                showConfirmButton: true,
            })
        }else{
            productos = document.querySelectorAll('.detallePedidoP');
            productosSeleccionados = document.querySelectorAll('.productoSeleccionado');
            console.log(productosSeleccionados)
            contador = 0
            contador2 = 0
            productos.forEach( function(valor) {
                valor1 = valor.innerHTML;
                contador2 = contador2 + 1
                productosSeleccionados.forEach( function(valor) {
                    valor2 = valor.value;
                    if(valor1 == valor2){
                        contador = contador + 1
                    }
                });
                
            });
            if(contador == contador2 ){
                
                let combo = document.getElementById("id_cliente");
                let selected = combo.options[combo.selectedIndex].text;

                if (selected == '---------'){

                    let total = document.getElementById('total_precios').innerText;
        
                    bloque = document.getElementById('formulario');
                    elemento2 = document.createElement('input');
                    elemento2.setAttribute("class", "form-control col-sm-3 mb-2 bg-dark" );
                    elemento2.setAttribute("style", "width:200px" );
                    elemento2.setAttribute("name", `total` );
                    elemento2.id = 'total';
                    elemento2.setAttribute("readonly", "" );
                    bloque.appendChild(elemento2);
                    document.getElementById(elemento2.id).value = total;

                    Swal.fire({
                        icon: 'success',
                        title: 'Venta creada con exito',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    setTimeout(function(){
                        
                        document.formulario.submit();

                    }, 3000);

                }else{
                    elemento = document.getElementById('boton_aceptar');
                    elemento.setAttribute("data-bs-toggle", "modal" );
                    elemento.setAttribute("data-bs-target", "#exampleModal" );
                    elemento.setAttribute("class", "modal" );
                    if (document.getElementsByClassName("modal")){
                        elemento.click();
                    }
                }

            }   
            else{
                
                Swal.fire({
                    icon: 'error',
                    title: 'Hay productos que no se pueden recepcionar ya que no coinciden con los productos del pedido seleccionado',
                    showConfirmButton: true,
                
                })
            }
        }
    }

    function CrearVenta(){

        usuario = document.getElementById('usuario').value;
        contrasena = document.getElementById('contrasena').value;

        bloque = document.getElementById('formulario');
        elemento = document.createElement('input');
        elemento.setAttribute("class", "form-control col-sm-3 mb-2 bg-dark" );
        elemento.setAttribute("style", "width:200px" );
        elemento.setAttribute("name", `usuario` );
        elemento.id = 'usuario';
        elemento.setAttribute("readonly", "" );
        bloque.appendChild(elemento);
        
        document.getElementById(elemento.id).value = usuario;

        bloque = document.getElementById('formulario');
        elemento1 = document.createElement('input');
        elemento1.setAttribute("class", "form-control col-sm-3 mb-2 bg-dark" );
        elemento1.setAttribute("style", "width:200px" );
        elemento1.setAttribute("name", `contrasena` );
        elemento1.id = 'contrasena';
        elemento1.setAttribute("readonly", "" );
        bloque.appendChild(elemento1);
        
        document.getElementById(elemento1.id).value = contrasena;

        let total = document.getElementById('total_precios').innerText;
        console.log(total)
        bloque = document.getElementById('formulario');
        elemento2 = document.createElement('input');
        elemento2.setAttribute("class", "form-control col-sm-3 mb-2 bg-dark" );
        elemento2.setAttribute("style", "width:200px" );
        elemento2.setAttribute("name", `total` );
        elemento2.id = 'total';
        elemento2.setAttribute("readonly", "" );
        bloque.appendChild(elemento2);
        document.getElementById(elemento2.id).value = total;

        Swal.fire({
            icon: 'success',
            title: 'Venta creada con exito',
            showConfirmButton: false,
            timer: 3000
        })
        setTimeout(function(){
            
            document.formulario.submit();

        }, 3000);
    }
</script>

<script language="JavaScript">

    var incremento = 0;

    function TotalPrecios()
    {
        let suma = 0;
        let precios = document.querySelectorAll('input.precio');
        let cantidad = document.querySelectorAll('input.cantidad');
        let cont1 = 0;
        let cont2 = 0;
        let multi = 0;
        precios.forEach( function(valor) {
            cont1 = cont1 + 1;
            valores = parseInt(valor.value);

            cantidad.forEach( function(cantidad) {
                cont2 = cont2 + 1;
                cantidades = parseInt(cantidad.value);
                if (cont1 == cont2){
                    multi = cantidades * valores;
                }
            });
            cont2 = 0;
            suma = suma + multi;
        });
        document.getElementById("total_precios").innerHTML = suma;
    }
    valor = "";
    function agregar2(idProd, precioProd, cantidadProd, stock, boton)
    {

        let coincidencia = document.getElementById(idProd).textContent;
        let precio = document.getElementById(precioProd).textContent;
        let cantidad = document.getElementById(cantidadProd).value;
        let stockpro = document.getElementById(stock).textContent;
        if (cantidad <= stockpro){
        boton.setAttribute("disabled",true);
        incremento++;

        bloque = document.getElementById('plazos');
        

        elemento = document.createElement('input');
        elemento.setAttribute("class", "form-control col-sm-3 mb-2 productoSeleccionado" );
        elemento.setAttribute("style", "width:200px" );
        elemento.setAttribute("name", `${coincidencia}` );
        elemento.id = 'input1.'+coincidencia;
        elemento.setAttribute("readonly", "" );
        bloque.appendChild(elemento);

        elemento2 = document.createElement('input');
        elemento2.setAttribute("class", "form-control col-md-3 mb-2 cantidad" );
        elemento2.setAttribute("style", "width:100px" );
        elemento2.setAttribute("name", `${coincidencia}.cantidad` );
        elemento2.id = 'input2.'+coincidencia;
        elemento2.setAttribute("readonly", "" );
        bloque.appendChild(elemento2);

        elemento3 = document.createElement('input');
        elemento3.setAttribute("class", "form-control col-md-3 mb-2 precio" );
        elemento3.setAttribute("style", "width:100px" );
        elemento3.setAttribute("name", `${coincidencia}.precio` );
        elemento3.id = 'input3.'+coincidencia;
        elemento3.setAttribute("readonly", "" );
        bloque.appendChild(elemento3);
        
        eliminar = document.createElement('input');
        eliminar.setAttribute("class", "btn btn-secondary btn-sm ");
        eliminar.setAttribute("onclick", `borrar("${coincidencia}", "${idProd}")`);
        eliminar.setAttribute("value", "X");
        eliminar.setAttribute("style", "width:30px");
        eliminar.id = ''+coincidencia;
        bloque.appendChild(eliminar);

        document.getElementById(elemento.id).value = coincidencia;
        document.getElementById(elemento2.id).value = cantidad;
        document.getElementById(elemento3.id).value = precio;

        br = document.createElement('br');
        br.id = 'br'+coincidencia;
        bloque.appendChild(br);
        TotalPrecios();
        valor = idProd;
        }
        else{
             Swal.fire({
                        icon: 'error',
                        title: 'La Cantidad de Productos NO Puede Ser Superior al Stock de Productos',
                        showConfirmButton: false,
                        timer: 3000
                    })
        }
    }
   

    function borrar(obj, valor) {

        boton = document.getElementById(`agregar${valor}`);
        boton.removeAttribute('disabled')

        document.getElementById(`input1.${obj}`).remove();
        document.getElementById(`input2.${obj}`).remove();
        document.getElementById(`input3.${obj}`).remove();
        document.getElementById(`${obj}`).remove();
        document.getElementById(`br${obj}`).remove();
        TotalPrecios()
    }
</script>

<script> 
    function doSearch()
    {
        const tableReg = document.getElementById('datos');
        const searchText = document.getElementById('searchTerm').value.toLowerCase();
        let total = 0;


        for (let i = 1; i < tableReg.rows.length; i++) {


            if (tableReg.rows[i].classList.contains("noSearch")) {
                continue;
            }

            let found = false;
            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');


            for (let j = 0; j < cellsOfRow.length && !found; j++) {

                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();


                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                    found = true;
                    total++;
                }
            }

            if (found) {
                tableReg.rows[i].style.display = '';
            } 
            else {

                tableReg.rows[i].style.display = 'none';
            }
        }

        const lastTR=tableReg.rows[tableReg.rows.length-1];
        const td=lastTR.querySelector("td");
        lastTR.classList.remove("hide", "red");

        if (searchText == "") {
            lastTR.classList.add("hide");
        } 
        else if (total) {
            td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
        } 
        else {
            lastTR.classList.add("red");
            td.innerHTML="No se han encontrado coincidencias";
        }
    }
</script>
{% endblock %}