{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <div class="p-3">
        <div class="pt-3">
            
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="" class="p-3">
                {% csrf_token %}
                <div class="container contenedorCrearProducto">
                    <h1 class="text-center pb-2">Editar Producto </h1>
                    <div class="form-group pb-3">
                        <label for="last_name" class="txt_negrita">Nombre:</label>
                        {% render_field form.nombre class="form-control" onkeypress="return letrasNumeros(event)" %} 
                    </div>
                    <div class="form-group pb-3">
                        <label for="first_name" class="txt_negrita">Precio:</label>
                        {% render_field form.precio class="form-control" onkeypress="return numerosCaracteres(event)" %} 
                    </div>
                    <div class="form-group pb-3">
                        <label for="email" class="txt_negrita">Descripcion:</label>
                        {{ form.descripcion|add_class:"form-control" }} 
                    </div>
                    <div class="form-group pb-3">
                        <label for="password1" class="txt_negrita">Precio de compra:</label>
                        {% render_field form.precio_compra class="form-control" onkeypress="return numerosCaracteres(event)" %} 
                    </div>
                    <div class="form-group pb-3">
                        <label for="password2" class="txt_negrita">Stock:</label>
                        {% render_field form.stock class="form-control" onkeypress="return numerosCaracteres(event)" %} 
                    </div>
                    <div class="form-group pb-3">
                        <label for="password2" class="txt_negrita">Stock critico:</label>
                        {% render_field form.stock_critico class="form-control" onkeypress="return numerosCaracteres(event)" %}  
                    </div>
                    
                    <h3 class="pb-3">Si desea mantener la fecha y hora de vencimiento actual, dejelo como está</h3>
                    <div class="form-group pb-3">
                        <label for="fecha_vencimiento" class="txt_negrita">Haga click en la caja para seleccionar Fecha de vencimiento: </label>
                        <input class="form-control dateinput" type="text" name="fecha_vencimiento" readonly placeholder="{{fecha}}" style="width:110px"/>
                    </div>

                    <div class="form-group pb-3">
                        <label for="hora_vencimiento" class="txt_negrita">Haga click en la caja para seleccionar Hora de vencimiento: </label>
                        <input class="form-control timepicker" type="text" name="hora_vencimiento" readonly placeholder="{{hora}}" style="width:110px"/>
                    </div>

                    <h3 class="pb-3">Si desea mantener el codigo de barra actual, favor de seleccionar tipo producto y proveedor que se indica entre "()" y familia producto dejelo como está</h3>
                    <div class="form-group pb-3">
                        <label for="password2" class="txt_negrita">Codigo de barra:</label>
                        {{ form.codigo_barra|add_class:"form-control" }} 
                    </div>
                    <div class="form-group pb-3">
                        <label for="familia_producto" class="txt_negrita">Familia producto:</label>
                        {{ formProd.familia_producto|add_class:"form-control" }} 
                    </div>
                    <div class="form-group pb-3">
                        <label for="tipo_producto" class="txt_negrita">Tipo producto actual: ({{tipo_producto}})</label>
                        {{ formFam.tipo_producto|add_class:"form-control" }} 
                    </div>
                    <div class="form-group pb-3">
                        <label for="proveedor" class="txt_negrita">Proveedor actual: ({{proveedor}})</label>
                        {{ formProv.proveedor|add_class:"form-control" }} 
                    </div>
                    
                    <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'listarProductos' %}" type="submit" class="btn btn-primary">Cancelar</a>
                </div> 
            </form>
        </div>
    </div>

    <script>

        function numerosCaracteres(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = "1234567890";
            especiales = [8, 37, 39, 46];

            tecla_especial = false
            for(var i in especiales) {
                if(key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if(letras.indexOf(tecla) == -1 && !tecla_especial)
                return false;
        }

        function letrasNumeros(e){
           key = e.keyCode || e.which;
           tecla = String.fromCharCode(key)
           letras = " ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz1234567890";
           especiales = "8-37-39-46";
    
           tecla_especial = false
           for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

    </script>
{% endblock %}