.titulo-boleta{
    background-color: #3ae9bd;
}

table thead {
    background-color: #d4fce6;
}

table tbody {
    background-color: #d4fce6;
}

.contenedorCrearBoleta{
    max-width: 800px;
    background-color: #c0fbe4;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.txt_negrita{
    font-size: 25px;
}

.cajaDetalles{
    flex: auto;
}

