{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/clientes.css' %}">
<div class="container contenedorCrearCliente p-5 mt-3">
    <h1 class="text-center" >Detalles del Cliente</h1>
        <div class="row p-5">
            <div class="col-md-3"></div>
            <div class="col-md-3 cajaDetalles">
                <span class="txt_negrita">Run: {{cliente.run}}</span> <br>
                <span class="txt_negrita">Nombre: {{cliente.nombre}}</span> <br>
                <span class="txt_negrita">Telefono: {{cliente.telefono}}</span> <br>
                <span class="txt_negrita">Correo: {{cliente.correo}}</span> <br>
                <span class="txt_negrita">Direccion: {{cliente.direccion}}</span> <br>
                </br>
                <a href="../" type="submit" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>

{% endblock %}
