{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/clientes.css' %}">
    <div class="container p-3">
      <h1 class="text-center">Administracion de Clientes</h1>
      <div class="container mb-4">
        {% if messages %}
          <ul class="messages list-group mb-3">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <table class="table table-striped table-hover">
        <h3 class="titulo-cliente text-center p-2 mb-0">Clientes</h3>
        <thead>
          <tr>
            <th>Run</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Se le puede fiar?</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>

        {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.run }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.telefono }}</td>
            {% if cliente.estado == 1 %}
              <td class="text-center">Si</td>
            {% else %}
              <td class="text-center">No</td>
            {% endif %}
            
            <td>
                           
              <form method="POST" action="">
                {% csrf_token %}
                <div class="btn-group">
      
                  <a href="detalle/{{cliente.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                  <a href="editar/{{cliente.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                  {% if cliente.estado == 1 %}
                    <a href="desactivarCliente/{{cliente.id}}" title="DesactivarCliente" type="button" class="btn btn-danger">Desactivar Cliente</a>
                  {% else %}
                    <a href="activarCliente/{{cliente.id}}" title="ActivarCliente" type="button" class="btn btn-danger">Activar Cliente </a>
                  {% endif %}
                
                </div>
              </form>
      
            </td>
          </tr>
        {% endfor %}
      
        </tbody>
      </table>

      <div align="left" class="btn_crear mb-3">
        <a href="{% url 'crearCliente' %}" type="button" class="btn btn-primary">Crear</a>
      </div>

    </div>

{% endblock %}