{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/proveedores.css' %}">

  <div class="row pt-3">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <h1 class="text-center titulo-prov">Administracion de proveedores</h1>
    </div>

    <div class="col-md-1">
      <a href="{% url 'listarCategoriasProv' %}" title="Editar" type="button" class="btn btn-primary botones mt-3">Ir a categorias de proveedor </a>
      
    </div>
  </div>
    <div class="container p-3">
      
      <div class="container mb-4">
        {% if messages %}
          <ul class="messages list-group mb-3">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <table class="table table-striped table-hover">
        <h3 class="titulo-proveedor text-center p-2 mb-0">Proveedores</h3>
        <thead>
          <tr>
            <th>Razon social</th>
            <th>Categoria</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        
        {% for proveedor in proveedores %}
          <tr>
            <td>{{ proveedor.razon_social }}</td>
            <td>{{ proveedor.categoria_proveedor }}</td>
            {% if proveedor.estado == 1 %}
              <td class="">Activo</td>
            {% else %}
              <td class="">No Activo</td>
            {% endif %}

            <td>                      
              <form method="POST" action="">
                {% csrf_token %}
                <div class="btn-group">
      
                  <a href="detalle/{{proveedor.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                  <a href="editar/{{proveedor.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                  
                  {% if proveedor.estado %}
                    <a href="desactivarProveedor/{{proveedor.id}}" title="DesactivarProveedor" type="button" class="btn btn-danger">Desactivar Proveedor</a>
                  {% else %}
                    <a href="activarProveedor/{{proveedor.id}}" title="ActivarProveedor" type="button" class="btn btn-danger">Activar Proveedor</a>
                  {% endif %}
                
                </div>
              </form>
            </td>

          </tr>
        {% endfor %}
      
        </tbody>
      </table>

      <div align="left" class="btn_crear mb-3">
        <a href="{% url 'crearProveedor' %}" type="button" class="btn btn-primary">Crear</a>
      </div>

    </div>

{% endblock %}