{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/clientes.css' %}">
    <div class="p-3">
        <div class="pt-3">
            <h1 class="text-center">Crear Tipo de producto</h1>
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="">
                {% csrf_token %}
                <div class="container contenedorCrearCliente">
                    
                    <div class="form-group pb-3">
                        <label for="descripcion" class="txt_negrita">Nombre:</label>
                        <input class="form-control" type="text" name="descripcion" onkeypress="return descripcionCaracteres(event)"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="proveedor" class="txt_negrita">Proveedor:</label>
                        {% render_field form.proveedor class="form-control" %}
                    </div>
                    <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'listarTiposProductos' %}" type="submit" class="btn btn-primary">Cancelar</a>
                </div> 
            </form>
        </div>
    </div>

    <script>
        function descripcionCaracteres(e){
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key)
            letras = " ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz1234567890,";
            especiales = "8-37-39-46";
    
            tecla_especial = false
            for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

    </script>
{% endblock %}
